body{
    background-color: rgb(28, 26, 26);
}

.canvas{
    display: flex;
    flex-wrap: wrap;
    border: 5px solid black;
    padding: 0;

    /* Take into consideration grid offsets */
    width: 500px;
    height: 500px;
}

.pixel{
    border: 1px solid;
    /* flex-grow: 0; */
}

.grid-lines{
    border-color: transparent;
}

/* .pixelate{
  background-color: bisque; 
} */