*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(28, 26, 26);
    height: 100vh;
}

.hide{
    display: none;
}

.content{
    /* flex: 1 auto; */
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar{
    text-align: center;
    background-color: rgba(200, 28, 56, 0.933);

    background: linear-gradient(rgba(56, 56, 177, 0.831), rgba(255, 0, 0, 0.838));

    height:60vw;
    max-height: 600px;
    max-width: max-content;
    
    padding: 20px 0;

    /* color: rgba(232, 210, 15, 0.924); */
    color: black;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0px 2px white;
}

.left.sidebar{
    border-radius: 25px 0 0 25px;
}

.left.sidebar .slider{
    max-width: 60%;
}

.right.sidebar{
    border-radius: 0 25px 25px 0;
}

.sidebar div.settings, .sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar div.settings{

    margin-bottom: 10%;
    padding: 8px;
    gap: 10px;

    /* margin-bottom: 30px; */
}

div.settings div p, 
.left.sidebar .size.settings span{
    color: rgba(232, 210, 15, 0.924);
    text-shadow: 0 0 0.75rem black;
    margin-bottom: 8px;
}

.size.settings p, .size.settings span,
.size.settings input{
    display: block;
}

.sidebar p{
    margin: 0;
}

.sidebar .icon{
    width: 40px;
    border: solid black;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
}

/* horizontal section of a tool bar */
.sidebar div.h-section{
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: center;
}

/* higher specificity for toggling
selected icons */
.sidebar .settings .selected{
    background-color: rgb(18, 113, 207);
}

.icon:hover{
    filter: drop-shadow(0 0 0.75rem black);
    background-color: bisque;
}

input:hover, img:hover{
    cursor: pointer;
}

.canvas{
    display: flex;
    flex-wrap: wrap;

    background-color: white;
    border: 5px solid black;
    padding: 0;

    min-width: 300px;
    max-width: 600px;
    width: 60vw;
    /* height: 500px; */

    aspect-ratio: 1/1;
}

.pixel{
    flex: 1 1 auto;
    /* box-sizing: border-box; */
    /* -moz-box-sizing: border-box; */
    /* -webkit-box-sizing: border-box; */
    border: thin solid;
}

.remove-grid-lines{
    border-color: transparent;
}
